.question{
    border:3px dashed gray;
    margin: 30px 0;
    background-color: ghostwhite;
}

.question-row{
    background-color: #2ab27b;
    font-size: x-large;
}

.answer-row{
    background-color: #c0a16b;
    font-size: x-large;
}

.bestanswer{
    margin-top: 70px ;
    margin-right: 50px;
}

.answer{
    border:3px dashed gray;
    margin: 30px 0;
    background-color: ghostwhite;
}

.answerform{
    margin: 100px 150px 0;
}

.allcomment{
    margin-top: 170px;
    margin-right: 50px;
}

.comment{
    border-bottom: 1px solid #c5c5c5;
    background-color: #ffe267;
}

.user{
    background-color: #cedbe6;
}

.tag{
	/*background-color: #f4efff;*/
}

.edit{
    font-size: x-small;
    background-color: #2ab27b;
}

